<div class="form-test">
    <form action="POST">
        <ul>
            <li>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="" />
            </li>

            <li>
                <label for="movie">Favorite Movie</label>
                <input type="text" id="movie" name="movie" value="" />
            </li>

            <li>
                <label><input type="radio" name="choice" value="ChoiceOne" selected="">Choice One</label>
                <label><input type="radio" name="choice" value="ChoiceTwo" selected="">Choice Two</label>
                <label><input type="radio" name="choice" value="ChoiceThree" selected="">Choice Three</label>
            </li>

            <li>
                <label for="movie">Biography</label>
                <textarea name="bio" id="bio" cols="30" rows="10"></textarea>
            </li>

            <li>
                <label for="select">Select</label>
                <select name="select" id="select">
                    <option value="S One">Select One</option>
                    <option value="S Two">Select Two</option>
                    <option value="S Three">Select Three</option>
                </select>
            </li>
        </ul>
    </form>
</div>