<h1>LG Keyboard Browser Test</h1>

{{#if apps}}
    <ul>
        <li>Date: {{date}}</li>
        {{#each apps}}
            <li>{{id}}: {{title}}</li>
        {{/each}}
    </ul>
{{/if}}

{{#if error}}
<p>{{error}}</p>
{{/if}}